@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&family=Noto+Sans+Thai:wght@100..900&display=swap');

html {
    font-size: 100%;
}

:root {
    --background-color-primary: #5484AB;
    --background-color-primary-fade: #27578D;

    --background-color-secondary: #D9D9D9;

    --font-family-logo: "kavoon", serif;
    --font-family-primary: "Noto Sans Thai", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-primary);
}

.container {
    width: min(100% - 2rem, 90rem);
    margin-inline: auto;
}

.button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;

    font: inherit;
    color: inherit;

    cursor: pointer;
}

.log_in {
    margin-block: 6rem;
}

.log_in__logo { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.logo__icon {
    max-width: 11.25rem;
    width: 100%;
    max-height: 11.25rem;
    height: 100%;
}

.log_in__information {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.information__username {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    background: #FFF;
    padding-inline: 1rem;
    border-radius: 20px;

    opacity: 80%;
}

.information__password {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    background: #FFF;
    padding-inline: 1rem;
    border-radius: 20px;

    opacity: 80%;
}

.information__icon {
    max-width: 2.75rem;
    width: 100%;
    max-height: 2.75rem;
    height: 100%;
}

.information__input {
    flex: 1;
    background: transparent;
    font-size: 1rem;

    color: #000;

    border: none;
    outline: none;

    padding-block: 2rem;
}

.information__input::placeholder {
    font-size: 1rem;
}

.log_in__sp-text {
    display: flex;
    justify-content: flex-end;

    margin-block-start: .5rem;
}

.log_in__forget-password {
    font-family: var(--font-family-primary);
    color: #FFF;
}

.log_in__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-block-start: 4.5rem;
}

.btn__text {
    font-family: var(--font-family-primary);
    color: #FFF;
}

.button-primary {
    background-color: #FFF;

    padding-block: 1rem;
    padding-inline: 5rem;
}

.header__box {
    background-color: var(--background-color-primary-fade);
    width: 100%;

    padding-block: 1rem;
}

.header__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header__logo {
    height: 100%;
    max-height: 5.125rem;
    width: 100%;
    max-width: 5.125rem;
 }

 .header__chatbot {
    display: flex;
    align-items: center;

    gap: 1rem;
 }

 .header__text {
    font-family: var(--font-family-primary);
    color: #FFF;
 }

 .header__chatavatar {
    max-height: 3.875rem;
    height: 100%;
    max-width: 3.875rem;
    width: 100%;
 }

 .chatbot__chatarea {
    height: 70vh;

    display: flex;
    flex-direction: column;
 }

 .chatbot__blank {
    flex: 1;
    overflow-y: auto;
 }

 .chatbot__advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem; 

    margin-block-start: 5rem;
 }

 .chatbot__question {
    font-family: var(--font-family-primary);
    font-size: 1rem;
    color: #FFF;
 }

.chatbot__message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

 .button-chatbot {
    font-family: var(--font-family-primary);
    color: #FFF;

    border: 1px solid white;
    border-radius: 999px;
    padding: 1rem 2rem;
 }

 .chatbot__type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #FFF;
    border-radius: 10px;
 }

 .chatbot__input {
    flex: 1;
    background: transparent;
    font-size: 1rem;

    color: #000;
    font-size: 1rem;

    border: none;
    outline: none;

    padding-block: 1.5rem;
 }

 .chatbot__microphone {
    max-height: 1.375rem;
    height: 100%;
    max-width: 1.375rem;
    width: 100%;

    margin-inline-start: 1rem;
 }

 .chatbot__send {
    max-height: 1.375rem;
    height: 100%;
    max-width: 1.375rem;
    width: 100%;

    margin-inline-end: 1rem;
 }

.nav__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color-secondary);

    bottom: 0;
    width: 100%;
    position: fixed;
 }

.nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__description {
    font-family: var(--font-family-primary);
}

.header__profile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.header__profile-image {
    height: 100%;
    max-height: 5rem;
    width: 100%;
    max-width: 5rem;
}

.header__userid {
    font-family: var(--font-family-primary);
    font-size: 1rem;
    color: #FFF;
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.5rem;
    padding-block: .5rem;

    border-radius: 20px;

    background-color: #FFF;
}

.header__search-icon {
    height: 100%;
    max-height: 2rem;
    width: 100%;
    max-width: 2rem;
}

.header__input {
    flex: 1;

    background: transparent;

    font-family: var(--font-family-primary);
    color: #000;
    font-size: .8rem;

    outline: none;
    border: none;
}

.header__notification {
    width: 100%;
    max-width: 6.7rem;
    height: 100%;
    max-height: 6.7rem;
}

.overview__hero_card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #DFEBF2;
    height: 100%;
    max-height: 10rem;
    width: 100%;
    max-width: 24rem;
    border-radius: 20px;
    
    margin-block-start: 4rem;
    margin-block-end: 2rem;
    margin-inline: auto;

    padding-block: 5rem;

    box-shadow: 0 4px 12px rgba(0,0,0,.15);

    position: relative;
}

.overview__meeting {
    font-family: var(--font-family-primary);
    font-size: 2.5rem;
    color: #000;
    margin-inline: auto;
}

.overview__illustration-2 {
    height: 100%;
    max-height: 5rem;
    width: 100%;
    max-width: 5rem;

    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-20%, -20%);
}

.overview__card {
    display: flex;
    justify-content: center;
    gap: .75rem;

    
}

.overview__card-left {
    background-color: #0A1D48;
    padding: .75rem;
    border-radius: 20px;

    box-shadow: 0 4px 12px rgba(0,0,0,.15);

    position: relative;
}

.overview__title {
    font-family: var(--font-family-primary);
    font-size: 1.5rem;
    color: #FFF;
}

.overview__date {
    font-family: var(--font-family-primary);
    color: #FFF;
}

.overview__illustration-3 {
    height: 100%;
    max-height: 6.25rem;
    width: 100%;
    max-width: 4.875rem;

    right: 0;
    bottom: 0;

    position: absolute;
}

.overview__input {
    padding: .5rem;
    border-radius: 10px;
    border: none;
    outline: none   ;

    margin-block-start: .5rem;
}

.overview__card-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

.overview__card-child1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #91C7F3;
    padding: .5rem;

    border-radius: 10px;

    box-shadow: 0 4px 12px rgba(0,0,0,.15);

    position: relative;
}

.overview__card-child2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27578D;
    padding: .5rem;

    box-shadow: 0 4px 12px rgba(0,0,0,.15);

    border-radius: 10px;
}

.overview__illustration-4 {
    height: 100%;
    max-height: 3.125rem;
    width: 100%;
    max-width: 3.125rem;

    align-self: flex-end;
}

.overview__illustration-5 {
    height: 100%;
    max-height: 3.25rem;
    width: 100%;
    max-width: 3.6875rem;
}

.header__box-sp {
    background-color: var(--background-color-secondary);
    padding: 1rem;
}

.header__group-sp {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
}

.header__userid {
    color: #000;
}

.header__text-sp {
    font-family: var(--font-family-primary);
    color: #000;
}

.coupon__box {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;

    margin-block: 6rem;
    padding-inline: 3rem;
}

.button-coupon {
    background-color: #91C7F3;
    border-radius: 999px;

    font-family: var(--font-family-primary);
    font-size: 1.5rem;

    padding: 1rem 0;

    box-shadow: 1px 4px 0 rgba(0,0,0,.15);
}